<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="50">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Hakkımızda</h1>
                    <div class="line"></div>
                    <p>TrackExpenses, tutku dolu bir ekip tarafından kurulan bir şirkettir. Sizin için en iyisini sunmayı hedefliyoruz. Bize katılın, farkı hissedin!</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6" data-aos="fade-down" data-aos-delay="50">
                <img src="~/WebSiteTemplate/assets/images/about.jpg" alt="">
            </div>
            <div data-aos="fade-down" data-aos-delay="150" class="col-lg-5">
                <h1>TrackExpenses</h1>
                <p class="mt-3 mb-4">Harcamalarınızı doğru bir şekilde izlemek, mali durumunuzu güçlendirmenin temelidir. Biz, harcamalarınızı izlemenizi kolaylaştırmak ve mali hedeflerinize ulaşmanıza yardımcı olmak için buradayız.</p>
                <div class="d-flex pt-4 mb-3">
                    <div class="iconbox me-4">
                        <i class="ri-mail-send-fill"></i>
                    </div>
                    <div>
                        <h5>Mali Durumunuzu Kontrol Altına Alın</h5>
                        <p>Harcamalarınızı izleyerek, mali durumunuzu güçlendirin. Biz, finansal hedeflerinize ulaşmanızı desteklemek için buradayız.</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="iconbox me-4">
                        <i class="ri-user-5-fill"></i>
                    </div>
                    <div>
                        <h5>Kolay Harcama İzleme Araçları</h5>
                        <p>Maliyetlerinizi kontrol altında tutmak için size özel araçlar sunuyoruz. Harcamalarınızı kolaylıkla izleyin ve mali planlarınızı gerçekleştirin.</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="iconbox me-4">
                        <i class="ri-rocket-2-fill"></i>
                    </div>
                    <div>
                        <h5>Biz, Harcamaları Takip Etme Konusunda Yanınızdayız</h5>
                        <p>Müşteri odaklı yaklaşımımız ve uzman ekibimizle, harcamalarınızı takip etme konusunda size destek oluyoruz. Finansal hedeflerinize birlikte ulaşalım!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
