@model IEnumerable<MVCProject.Models.UserWithRolesViewModel>

@{
    ViewData["PageTitle"] = "Users Manager";
    ViewData["PageActionUrl"] = "/Admin/ListUserWithRoles";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<div class="row">
    <div class="col-md-12">
        <ejs-grid id="contacts" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Name" field="Name"></e-grid-column>
                <e-grid-column headerText="Surname" field="Surname"></e-grid-column>
                <e-grid-column headerText="E-Mail" field="UserName"></e-grid-column>
                <e-grid-column headerText="Role" field="Roles"></e-grid-column>
                <e-grid-column headerText="RoleIds" field="RoleIds"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="150px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <select onchange='updateUserRoles(this.value, `${RoleIds}`,`${UserName}`)'>
            <option value="default" selected disabled>Select Rol</option>
    @foreach (var userRoles in @ViewBag.user)
    {
                                <option value="@userRoles">@userRoles</option>
        
    }
        </select>
    </div>
</script>

<script>
    function updateUserRoles(value, RoleIds, UserName) {
        var userName = UserName;
        swal({
            title: "Emin misiniz?",
            text: userName + " E-mail'e sahip kullanıcının rolünü " + value + " olarak değiştirmek istediğinizden emin misiniz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willChange) => {
            if (willChange) {
                $.ajax({
                    url: '/Admin/UpdateUserRole',
                    type: 'POST',
                    data: { roleName: value, userName: userName },
                    success: function (response) {
                        // Başarılı bir şekilde rol değişikliği yapıldığında gerçekleşen işlemim
                        swal("Rol başarıyla değiştirildi!", {
                            icon: "success",
                        }).then(() => {
                            // Sayfayı yenilemek için
                            window.location.reload();
                        });
                    },
                    error: function () {
                        swal("Rol değiştirilemedi!");
                    }
                });
            } else {
                swal("Rol değiştirilmedi!");
            }
        });
    }

</script>

