<section id="services" class="section-padding border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="50">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Harika Hizmetlerimiz</h1>
                    <div class="line"></div>
                    <p>Finansal hedeflerinize ulaşmanıza yardımcı olmak için buradayız. Harcamalarınızı izlemeyi kolaylaştırarak, sizin için özel çözümler sunuyoruz.</p>
                </div>
            </div>
        </div>
        <div class="row g-4 text-center">
            <div class="col-lg-4 col-sm-6">
                <div class="service theme-shadow p-lg-5 pt-4">
                    <div class="iconbox">
                        <i class="ri-user-star-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3"> Kişiselleştirilmiş Bütçe </h5>
                    <p>Özelleştirilmiş bütçe planlarıyla harcamalarınızı optimize edin.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service theme-shadow p-lg-5 pt-4">
                    <div class="iconbox">
                        <i class="ri-pie-chart-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3"> Gelişmiş Harcama Analizi </h5>
                    <p>Detaylı raporlarla harcamalarınızı analiz edin, daha bilinçli kararlar alın.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service theme-shadow p-lg-5 pt-4">
                    <div class="iconbox">
                        <i class="ri-magic-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">  Otomatik Fatura Takibi </h5>
                    <p>Zamanında ödemeler için otomatik fatura takibi ve hatırlatmalar.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service theme-shadow p-lg-5 pt-4">
                    <div class="iconbox">
                        <i class="ri-notification-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">  Anlık Bildirimler ve Uyarılar </h5><br>
                    <p>Anlık bildirimlerle harcamalarınızı takip edin, kontrolü elinizde tutun.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service theme-shadow p-lg-5 pt-4">
                    <div class="iconbox">
                        <i class="ri-stack-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3"> Harcama Kategorizasyonu ve Analitik Raporlama </h5>
                    <p>Harcamaları kategorize ederek ve ayrıntılı raporlarla daha iyi analiz edin.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service theme-shadow p-lg-5 pt-4">
                    <div class="iconbox">
                        <i class="ri-focus-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3"> Finansal Hedefler İçin Danışmanlık </h5>
                    <p>Mali hedeflerinize ulaşmanız için profesyonel danışmanlık desteği.</p>
                </div>
            </div>
        </div>
    </div>
</section>
