<section id="team" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Takım Üyeleri</h1>
                    <div class="line"></div>
                    <p>TrackExpenses'in yaratıcıları ve geliştiricileri.!</p>
                </div>
            </div>
        </div>
        <div class="row g-4 text-center ">
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="100">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="~/WebSiteTemplate/assets/images/user.png" alt="">
                    </div>
                    <div class="team-member-content">
                        <h4 class="text-white">Doğan Bozkurt</h4>
                        <p class="mb-0 text-white">Backend Ve Web Site Geliştiricisi</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="130">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="~/WebSiteTemplate/assets/images/user.png" alt="">
                    </div>
                    <div class="team-member-content">
                        <h4 class="text-white">Ali Sevgi</h4>
                        <p class="mb-0 text-white">Admin Panel Tasarım Geliştiricisi</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="~/WebSiteTemplate/assets/images/user.png" alt="">
                    </div>
                    <div class="team-member-content">
                        <h4 class="text-white">Halil İbrahim Eser</h4>
                        <p class="mb-0 text-white">Admin Panel Tasarım Geliştiricisi</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="~/WebSiteTemplate/assets/images/user.png" alt="">
                    </div>
                    <div class="team-member-content">
                        <h4 class="text-white">Murat Özdemir</h4>
                        <p class="mb-0 text-white">Entity Tanımlama</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="~/WebSiteTemplate/assets/images/user.png" alt="">
                    </div>
                    <div class="team-member-content">
                        <h4 class="text-white">Berat Elrahman</h4>
                        <p class="mb-0 text-white">Veri Tabanı Geliştirici</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="~/WebSiteTemplate/assets/images/user.png" alt="">
                    </div>
                    <div class="team-member-content">
                        <h4 class="text-white">Kaan Göçer</h4>
                        <p class="mb-0 text-white">Veri Tabanı Geliştirici</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
